/* #ffd800 */ 
/* #FF4C40 */

/*
    background-color: #34ACDC;
    background-color: rgba(52, 172, 220, 0.98);
*/

body {
    font-family: 'Open Sans', sans-serif;
}

.margin3 {
    margin-top: 3em; 
}


.navbar {
    z-index: 10;
}
.navbar-brand img {
    height: 3em;
}
.navbar-brand {
    padding: 0;
}

.switch {
    margin-right: 20px;
}
#navbar-full .navbar {
    border-radius: 0 !important;
    margin-bottom: 0;
    z-index: 2;
}

/* HERO */
.hero .item {
    min-height: 600px;
    height: 100vh;
    background-image: url(../img/homeblue.png);
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    z-index: -1;
    background-position: top center;
    background-attachment: fixed;
}
.hero .item span {
    position: absolute;
    top: 10em;
    left: 5em;
    width: 80%;
    color: #fff;
}
.hero h4 {
    text-align: justify;
    background-color: rgba(0,0,0,0.6);
    margin: 0;
}
.hero h2 {
    margin: 0;
}
.hero h1 {
    text-transform: uppercase;    
    margin: 0;
    padding: 0;
    color: #34ACDC;
}

.item .btn {
    position: absolute;
    bottom: 10em;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 3em;
    text-transform: uppercase;
    background-color: rgba(52, 172, 220, 0.5);
    border: none;
}
@media (max-width: 992px) { 
    .item .btn {
        bottom: 0;
    }
}
@media (max-width: 768px) { 
    .hero .item {
        min-height: 100vh;
        height: 100%;
        background-position: center center;
        background-size: 100% 100%;
    }
    .hero .item span {
        position: relative;
        top: 6em;
        left: 0;
        width: 100%;
    }
    .hero .item h1 {        
        background-color: rgba(0,0,0,0.6);
    }
    .item .btn {
        bottom: 0;
        margin-top: 12em;
        position: relative;
    }
}

/* SERVICES */
.services {
    margin-top: 3em;
}
.services a {  
    color: #34ACDC;
}
.services a:hover {    
    text-decoration: none;
}
.services .col-sm-4 {
    height: 250px;
    margin-bottom: 1em;
}
@media (max-width: 500px) { 
    .services .col-sm-4 {
        height: 300px;
        margin: 0;
    }
}

.gray {
    background-color: #eee;
    margin: 0 auto;
    padding: 3em 0;
}
.gray h3 {
    margin: 0;
}

/* ABOUT */
#about {
    background-image: url(../img/aboutbg.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/aboutbg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;    
    padding: 5em 0;
}
#about .text-left {
    text-align: justify;
}

/* LINE */
#line {
    background: #34ACDC;
    margin-top: 0;
    padding: 5em 0;
}
#line input {
    color: #34ACDC;
}
#line .btn {
    border: 2px solid #fff;
}

/* WORK */
#work img {
    width: 100%;
}
#work .item {
    margin-top: 1em;
    position: relative;
}
#work p:last-child {
    margin-top: 1em;
}

.works .item h3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1.125em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'NexaFFBold', Helvetica, sans-serif;
    opacity: 0;
    -moz-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-color: rgba(52, 172, 220, 0.9);
}

.works .item:hover h3 {
    opacity: 1;
}
.works span {
    position: relative;
    display: block;
    padding: 0 1em;
    top: 60%;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: top 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: top 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: top 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: top 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.works .item:hover h3 span {
    top: 48%;
}

/* BLOG */
#blog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blog.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 5em 0;
    color: #fff;
}

/* CONTACTS */
#contacts { 
    
}