/* #ffd800 */ 
/* #FF4C40 */

body {
    font-family: 'Open Sans', sans-serif;
}

.margin3 {
    margin-top: 3em; 
}


.navbar {
    z-index: 10;
}
.navbar-brand img {
    height: 3em;
}
.navbar-brand {
    padding: 0;
}

/* HERO */
.hero .item {
    height: 100vh;
    background-image: url(img/home.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}
.hero .item span {
    position: absolute;
    top: 10em;
    left: 5em;
    width: 70%;
    color: #fff;
}
.hero h4 {
    text-align: justify;
    background-color: rgba(0,0,0,0.6);
}
.hero h1 {
    line-height: 10px;
    text-transform: uppercase;    
}

.item a {
    position: absolute;
    bottom: 10em;
    margin: auto;
    width: 100%;
    text-align: center;
}
.item a i {    
    border-radius: 50px;
    background-color: rgba(255,255,255,0.3);
    padding: 1em;
}
.item a i:hover {
    background-color: #fff;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}
.red {
    color: #FF4C40;
}

/* SERVICES */
.services {
    margin-top: 3em;
}
.services a {    
    color: red;
}
.services a:hover {    
    text-decoration: none;
}
.services .col-sm-4 {
    height: 250px;
}

.gray {
    background-color: #eee;
    margin: 0 auto;
    padding: 3em 0;
}
.gray h3 {
    margin: 0;
}

/* ABOUT */
#about {
    background-image: url(img/aboutbg.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/aboutbg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;    
    padding: 5em 0;
}
#about .text-left {
    text-align: justify;
}

/* LINE */
#line {
    background: #FF4C40;
    margin-top: 0;
    padding: 5em 0;
}
#line input {
    color: #FF4C40;
}
#line .btn {
    border: 2px solid #fff;
}

/* WORK */
#work img {
    width: 100%;
}
#work .col-sm-4 {
    margin: 1em auto 3em;
}

/* BLOG */
#blog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/blog.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 5em 0;
    color: #fff;
}
